<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="contentFragment">
    <div class="container">

        <div class="card m-2">
            <div class="card-body">
                <h4 class="card-title">제목적는 부분</h4>
                <p class="card-text">내용 적는 부분</p>
                <a href="#" class="btn btn-primary">상세보기</a>
            </div>
        </div>

        <div class="card m-2">
            <div class="card-body">
                <h4 class="card-title">제목적는 부분</h4>
                <p class="card-text">내용 적는 부분</p>
                <a href="#" class="btn btn-primary">상세보기</a>
            </div>
        </div>

        <div class="card m-2">
            <div class="card-body">
                <h4 class="card-title">제목적는 부분</h4>
                <p class="card-text">내용 적는 부분</p>
                <a href="#" class="btn btn-primary">상세보기</a>
            </div>
        </div>
    </div>
</th:block>
</html>