<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="/mixdog">Mixdog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <!-- #collapsibleNavbar 는 화면이 줄었을때 반응형 메뉴바 기능 -->
        <span class="navbar-toggler-icon"></span>
    </button>
    <div th:block th:if="${session.principal == null}" class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/mixdog/user/loginForm">로그인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mixdog/user/joinForm">회원가입</a>
            </li>
        </ul>
    </div>
    <div th:block th:if="${session.principal != null}" class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/mixdog/user/loginForm">글쓰기</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mixdog/user/joinForm">회원정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mixdog/user/joinForm">로그아웃</a>
            </li>
        </ul>
        <p th:value="${session.principal.getUsername()}"></p>
    </div>

</nav>
<br>
</th:block>
</html>